
.header {
    padding: 20px 30px;
    background-color: rgb(201, 218, 226);
}

.header .container {
    max-width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap; 
}

.logo {
    width: 150px;
}

.nav {
    display: flex;
    list-style: none;
    font-size: 17px;
    font-weight: 700;
    margin: 0; 
    padding: 0; 
}

.nav li {
    padding: 0 15px; 
}

.nav li:last-child {
    padding-right: 0; 
}

.nav li a {
    text-decoration: none;
    color: black;
}

.menu-icon {
    display: none; 
}


@media screen and (max-width: 767px) {
    .menu-icon{
        padding-left: 450px;
        font-size: 30px;
    }
    .header {
        padding: 10px 15px; 
    }

    .logo {
        width: 120px; 
    }

    .nav {
        display: none; 
        flex-direction: column;
        align-items: center; 
    }

    .menu-icon {
        display: block; 
        cursor: pointer;
    }

    .nav li {
        padding: 10px 0; 
    }
}
